<!DOCTYPE html>
<head>
  <title>guaigetv_v2</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>写点儿代码</h3>
  <form action="/codex" method="post">
    <input type="text" name="animal" placeholder="写点儿需求" required />
    <input type="submit" value="给我敲" />
  </form>
  {% if result %}  
  </br></br>
  <textarea style="width: 500px;height: 1000px;">{{result}}</textarea>

  {% endif %}
</body>
