<!DOCTYPE html>
<head>
  <title>guaigetv_v2</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />


  <style>

  a.none {
      text-decoration: none;
      font-size: 20px;
  }

</style>


</head>

<body>
  <a href="/"><img src="{{ url_for('static', filename='dog.png') }}" class="icon"/></a>
  <h3>随便玩玩openAI</h3>
  <br><br>
  <a class="none" href="/dalle">画图：DALL-E 2</a>
  <br>
  <a class="none" href="/davinci">GPT3：Davinci-003</a>
  <br>
  <a class="none" href="/codex">代码：Codex</a>

</body>
